.card:hover {
	cursor: pointer;
	box-shadow: 5px 5px black;
}

.card {
	width: 20rem;
}
.card > img {
	width: 10rem;
}

#categorySelect {
	width: 3rem;
	background-color: transparent;
	color: transparent;
	border: none;
	background-image: url("../src/images/filter.png");
	background-size: 1.5rem;
	background-repeat: no-repeat;
	cursor: pointer;
}

#categorySelect option {
	color: black;
}

@media only screen and (max-width: 320px) {
	.card {
		width: 12rem;
	}
}
