.card:hover {
	cursor: pointer;
	opacity: 50%;
}

@media only screen and (min-width: 769px) {
	.card {
		width: 20rem;
	}
}

@media only screen and (min-width:370px) and (max-width:768px) {
	.card > img {
		width: 20rem;
	}
}